body{
    background: #555;
    margin: 0;
}

p{
    font: 200% sans-serif;
    margin: 0;
    color: #fff;
}

img{
    width:40px;
    position: absolute;
    right: 0px;
    top: 290px;
    z-index: -1;
}

.container-general{
    width:350px;
    height: 600px;
    margin: 15px 50%;
    border-radius: 30px;
    padding: 20px;
    position: absolute;
    text-align: center;
    box-shadow: 15px 10px #111;
    transform: translate(-50%);
    background-color: #222;
}

.Pantalla{
    grid-column: 1/-1;
    max-height: 150px;
    padding: 10px;
    display: flex;
    margin: 30px 10px 20px;
    border-radius: 10px;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    background:#444 ;
}

.valor-anterior{
    width: 100%;
    height: 40px;
    margin: 20px 0 0 0;
    border-radius: 10px;
    font-size: 25px;
    color: #fff;
}

.valor-actual{
    width: 100%;
    height: 70px;
    border-radius: 10px;
    font-size: 35px;
    color: #fff;
}

.Botones{
    width: 100%;
    height: auto;
    display: grid;
    margin: 30px 20px;
    grid-template-columns: repeat(4,85px);
    grid-template-rows: repeat(5,80px);
}

.Botones button{
    width: 60px;
    height: 50px;
    font-size: 20px;
    border-radius: 40px;
    border: 2px solid black;
    box-shadow: 5px 5px 0px #111;
    color: white;
    transition: all .1s;
    background: #111;
}

.operaciones{
    background: #b9751b !important;
}

.c{
    width: 150px !important;
    grid-column: 1/3;
    background: #002B5B !important;
}

.cero{
    width: 150px !important;
    grid-column: 1/3;
}

.Botones button:active{
    transform: scale(0.8);
}

@media screen and (max-width: 400px) {
    .container-general{
        width: 78%;
    }

    .Botones{
        width: 60%;
        grid-template-columns: repeat(4, 70px);
    }

    .Botones button{
        width: 70%;
    }

    .cero{
        width: 120px !important;
    }

    .c{
        width: 120px !important;
    }
}